/* 
    Document   : estiloIndex
    Created on : 7/06/2013, 10:44:15 PM
    Author     : @khrizenriquez
    Description:
*/
body
{
    background: rgb(40,176,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzI4YjBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOGIwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(45deg,  rgba(40,176,255,1) 24%, rgba(40,176,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(24%,rgba(40,176,255,1)), color-stop(100%,rgba(40,176,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b0ff', endColorstr='#28b0ff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    font-size: 16px;
    text-align: center;
}
html
{
    background: rgb(40,176,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzI4YjBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOGIwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(45deg,  rgba(40,176,255,1) 24%, rgba(40,176,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(24%,rgba(40,176,255,1)), color-stop(100%,rgba(40,176,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(40,176,255,1) 24%,rgba(40,176,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b0ff', endColorstr='#28b0ff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    text-align: center;
}
#artIngresoDatosUsuario
{
    text-align: center;
    margin: auto;
    width: 70%;
}
#btnGuardarDatos
{
    margin-top: 1em;
}
#divContenedorImagen
{
    text-align: center;
    vertical-align: top;
}
#divContenedorTablaUsuarios
{
    display: inline-block;
    margin: auto;
    vertical-align: top;
    width: 60%;
}
#divImgCargando
{
    display: none;
}
#figureContenedorImagenUsuario
{
    border-radius: 0em 0em 2em 0em;
    background: rgb(255,99,28); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY2MzFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmY3YzQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmY5MTY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg,  rgba(255,99,28,1) 0%, rgba(255,124,68,1) 45%, rgba(255,145,102,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,99,28,1)), color-stop(45%,rgba(255,124,68,1)), color-stop(45%,rgba(255,145,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff631c', endColorstr='#ff9166',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    height: 10em;
    margin: auto;
    width: 10em;
}
#fieldsetDatosUsuario
{
    background: rgb(255,99,28); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY2MzFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmY3YzQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmY5MTY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg,  rgba(255,99,28,1) 0%, rgba(255,124,68,1) 45%, rgba(255,145,102,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,99,28,1)), color-stop(45%,rgba(255,124,68,1)), color-stop(45%,rgba(255,145,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,99,28,1) 0%,rgba(255,124,68,1) 45%,rgba(255,145,102,1) 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff631c', endColorstr='#ff9166',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    text-align: left;
}
#fieldsetDatosUsuario, #fieldsetImagenUsuario
{
    border-radius: 0em 0em 2em 0em;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}
#formIngresoDatos
{
    text-align: center;
    width: 100%;
}
#secContenedor
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
#secTablaDatos
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
#tbUsuariosIngresadosIndex
{
    width: 100%;
}
#txtNombreRegistro, #txtApellidosRegistro, #txtClaveRegistro, #txtUsuarioRegistro
{
    margin: 0.5em 0.3em;
    width: 80%;
}
/*------------------------------------------------------------------------------afectando elementos por id*/
/*------------------------------------------------------------------------------afectando elementos por id*/

/*------------------------------------------------------------------------------afectando elementos por clase*/
.imgTablaIndex
{
    height: 4em;
    width: 4em;
}
.tdEspacioPequenio
{
    height: 4em;
    width: 4em;
}
/*------------------------------------------------------------------------------afectando elementos por clase*/